-f https://download.pytorch.org/whl/torch_stable.html
-f https://data.pyg.org/whl/torch-1.8.0+cpu.html
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.8/index.html
torch==1.8.0+cpu
torchvision==0.9.0+cpu
torchtext
torch-scatter==2.0.8
torch-sparse==0.6.12
torch-cluster==1.5.9
torch-spline-conv
torch-geometric
detectron2
gunicorn
flask
numpy
tqdm>=4.43.0,<4.50.0
GitPython==3.1.0
requests==2.23.0
fasttext==0.9.1
nltk==3.4.5
transformers>=3.4.0, <=4.10.1
omegaconf==2.1 # omegaconf>=2.0.6, <=2.1
lmdb==0.98
iopath==0.1.8
datasets==1.2.1
pycocotools==2.0.4
ftfy==5.8
pytorch-lightning @ git+https://github.com/PyTorchLightning/pytorch-lightning@9b011606f
pillow==8.3.1
sentencepiece==0.1.86
opencv-python
gensim
psutil
filelock
six